@charset "UTF-8";

body {
   width: 100%;
   margin: 0;   
}

.wrap {
   margin: 0;
   width: 100%;
}

a {
   color: white;
   text-decoration: none;
}

/*--- navbar ------------------------*/
.navbar {
   display: flex;   /* 한줄(수평)로 배치 */
   justify-content: space-between;  /* 시작과 끝은 기준선에 맞추고, 사이사이 공백 */
   align-items: center;         /* 수평 가운데 정렬 */
   background-color: black; 
   opacity: 0.88;
   padding: 8px 12px;
   border-style: none;
}

.navbar_title {
   list-style: none;
   color: #f0f4f5;
   display: flex;  /* 1줄로 출력 */
   padding-left: 10px;
}

.navbar_title i {
   padding: 8px 12px;
}


/* .navbar_title {
   font-size: 24px;
   color: white;
   text-shadow: 1px 1px 1px white;
   padding-left: 10px;
}

.navbar_title i {
   color: white;
} */

.navbar_menu {
   display: flex;   /* 한줄(수평)로 배치 */
   list-style: none;   /* 리스트의 불릿 없앰  */
   padding-left: 0;
   font-weight: bold;
   font-size: 20px;
}

.navbar_menu li {
   padding: 8px 30px;   /* 메뉴 선택시 선택항목을 넓게 하기 위함 */
}

.navbar_menu li:hover {
   background-color: #efc2d3;  /* 마우스 올렸을 때 배경색 바꾸기 */
   border-radius: 4px;
} 

.navbar_icons {
   margin: 0;
   display: flex;   /* 한줄(수평)로 배치 */
   list-style: none;   /* 리스트의 불릿 없앰  */
   color: white;
   padding-left: 0;
}

.navbar_icons li {
   padding: 8px 15px;   
}   

.navbar_icons li:hover {
   background-color: #efc2d3;  /* 마우스 올렸을 때 배경색 바꾸기 */
   border-radius: 4px;
} 
   
/*--- navbar -----------------------------------*/   


/* 반응형웹 - 2. 햄버거 아이콘을 맨 오른쪽에 배치  */
.navbar_toggleBtn {
   display: none;  /* 768px보다 작은 경우에만 햄버거 아이콘이 보이게 한다. */
   position: absolute;   
   right: 32px;   /* 오른쪽 32px 떨어진 곳에 배치 */
   font-size: 24px;
   color: #d49466
}

/* 반응형웹 - 3. 미디어쿼리 */
@media screen and (max-width: 768px) {
   /* 3-2. 시작 */
   .navbar {
      flex-direction: column;   /* 위에서 아래쪽으로 아이템 배치 */
      align-items: flex-start;   /* 왼쪽으로 붙여서 display */
      padding: 8px 24px;
   }
   
   .navbar_menu {
      display: none;
      flex-direction: column;   /* 위에서 아래쪽으로 아이템 배치 */
      align-items: center;  /* width:100%를 안준상태에서 center를 주면 메뉴 자체 너비가 작으므로 작동안함*/   
      width: 100%;   /* 실행하면 이제 메뉴가 가운데로 옴 */
   }   
   
   /* 마우스 올리면 하이라이트를 전체크기로 주기 */
   .navbar_menu li {
      width: 100%;
      text-align: center;
   }
   
   /* 트위터, 페이북, 기타 아이콘 가운데 정렬 */
   .navbar_icons {
      display: none;
      justify-content: center;
      width: 100%;
   }
   /* 3-2. 끝 */
   
   /* 3-3. 자바스크립트 이벤트 추가 : 햄버거버튼을 클릭하면 아래쪽으로 메뉴가 나오도록 main.js에서 추가 */
   /* 3-4. 각 페이지마다 main.js를 추가 */
   
   /* 3-1. 창을 줄이면 햄버거창이 나온다. */
   .navbar_toggleBtn {
      display: block;
   }
   
   /* 3-5. active 추가 */
   .navbar_menu.active, .navbar_icons.active {
      display: flex;
   }
}









