<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.mvc.kyj.dao.CustomerDAO">
      
    <!-- ID 중복확인 처리 / 시큐리티 - 회원가입여부 -->  <!-- resultType="Integer"일경우  COUNT(*) -->
    <select id="idCheck" parameterType="String" resultType="int">
       SELECT COUNT(*) FROM mvc_customer_tbl WHERE id=#{strId}
    </select>
    
    <!-- 회원가입 처리 -->  <!-- 시큐리티 : key 컬럼 추가 -->
    <insert id="insertCustomer" parameterType="spring.mvc.kyj.dto.CustomerDTO">
      INSERT INTO mvc_customer_tbl(id, password, name, birthday, address, hp, email, regDate, key, authority, enabled)
      VALUES(#{id}, #{password}, #{name}, #{birthday}, #{address}, #{hp}, #{email}, sysdate, #{key}, #{authority}, #{enabled})
    </insert>
       
    <!-- 시큐리티 : 로그인 전 이메일 인증을 해야 한다. -->
    <select id="selectKey" parameterType="String" resultType="int">
       SELECT COUNT(*) FROM mvc_customer_tbl WHERE key=#{key}
    </select>
    
    <!-- 시큐리티 : 로그인 전 이메일 인증을 해야 하며, 1로 수정-->
    <update id="updateGrade" parameterType="String">
      UPDATE mvc_customer_tbl
         SET enabled=1
        WHERE key=#{key}
    </update>
 
	<!-- 시큐리티 - 로그인 인증시 호출 -->
    <!-- UserAuthenticationService - loadUserByUsername에서 호출 -->
    <select id="selectCustomer" parameterType="String" resultType="spring.mvc.kyj.dto.CustomerDTO">
       SELECT * FROM mvc_customer_tbl WHERE id=#{id}
    </select>
    
    <!-- 시큐리티 - UserLoginSuccessHandler에서 호출 -->
    <select id="authorityCheck" resultType="String">
       SELECT authority FROM mvc_customer_tbl WHERE id=#{id}
    </select>
    
    <!-- 시큐리티 - UserLoginFailureHandler에서 호출 -->
    <select id="pwdCheck" parameterType="String" resultType="String">
       SELECT password FROM mvc_customer_tbl WHERE id=#{strId}
    </select>
       
    <!-- 회원정보 상세페이지 -->
    <select id="getCustomerDetail" parameterType="String" resultType="spring.mvc.kyj.dto.CustomerDTO">
       SELECT * FROM mvc_customer_tbl WHERE id=#{strId}
    </select>
    
    <!-- 회원정보 수정 처리 -->
    <update id="updateCustomer" parameterType="spring.mvc.kyj.dto.CustomerDTO">
       UPDATE mvc_customer_tbl
         SET password=#{password}, name=#{name}, birthday=#{birthday}, address=#{address}, hp=#{hp}, email=#{email}
        WHERE id=#{id}
    </update>
    
    <!-- 회원정보 탈퇴처리 -->
    <delete id="deleteCustomer" parameterType="String">
       DELETE FROM mvc_customer_tbl 
       WHERE id=#{strId}
    </delete>
    
    <!-- 게시글 목록 -->
	<select id="memberList" parameterType="java.util.Map" resultType="spring.mvc.kyj.dto.CustomerDTO">
		<![CDATA[
				SELECT * 
	            	FROM (
	                    SELECT A.*, rownum as rn 
	                    FROM (
		                    SELECT id, password, name, birthday, address, hp, email, regDate 
		                    FROM mvc_customer_tbl
		                    WHERE authority = 'ROLE_USER' ) A 
	                    ) 
	             	 WHERE rn BETWEEN #{start} AND #{end} 
	             	 
		]]>	
	</select>
    
    <!-- 회원수 구하기 --> 
	<select id="memberCnt" resultType="Integer">
		SELECT COUNT(*) FROM mvc_customer_tbl
	</select>
    
</mapper>  