@charset "UTF-8";

@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar_title {
	font-size:25px;
}

#container {
	width: 100%;
	margin: 0 auto;
}

#contents {
	max-width: 1240px;
	min-width: 840px;
	width: 100%;
	margin: 0 auto;
	min-height: 800px;
}

hr {
    border-bottom-width: thick;
}



/* 오른쪽 메뉴바 */
#right {
	width:100%;
	height:100%;
}

#section2 {
	padding:10px 20px 20px 0;
}

#se_inner {
	width:100%;
}

.manager {
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:auto;
	margin:40px 10px;
	height:auto;
}

.manager th{
	font-size:15px;
	font-weight:bold;
	width:120px;
	height:60px;
	text-align:left;
	padding-right:10px;
	padding-left:20px;
	background:gray;
	margin-right:5px;
}

.manager td{
	padding:10px 0 10px 10px;
	background:#e3ecf2;
}

.commentList {
	display:flex;
	justify-content:center;
	align-items:center;
	max-width:auto;
	margin:40px 10px;
	height:auto;
}

.commentList th{
	font-size:15px;
	font-weight:bold;
	width:120px;
	height:60px;
	text-align:left;
	padding-right:10px;
	padding-left:20px;
	background:gray;
	margin-right:5px;
}

.commentList td{
	padding:10px 0 10px 10px;
	background:#e3ecf2;
}

.input {
	font-family:'SEBANG_GOTHIC_REGULAR';
	padding:5px 5px;
}




			